:root {
  --primary-color: #356aff;
  --bg-color: #d4e3fc;
  --light-bg-color: #fff;
  --text-color: #111116;
  --light-text-color: #cdccd1;
  --primary-text-color: #fff;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 30px;
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background: var(--primary-color);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--bg-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  background-color: var(--bg-color);
  overflow-x: none;
}

.container {
  position: relative;
  width: 1200px;
  padding: 0 20px;
  display: flex;
  gap: 10px;
}

.container .card {
  flex: 1;
  padding: 30px;
  border-radius: 20px;
  background-color: var(--light-bg-color);
}

.container .card .from,
.container .card .to {
  display: flex;
  align-items: center;
  user-select: none;
}

.container .card .from {
  margin-right: 20px;
}

.container .card .to {
  margin-left: 20px;
}

.missive-container {
  position: relative;
  margin-bottom: 10px;
  width: 100%;
}

.missive-container .missive-subcontainer {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  border-radius: 30px;
  background-color: var(--bg-color);
  transition: all 0.3s;
}

.missive-container .missive-subcontainer span {
  flex: 1;
  margin-left: 10px;
}

.missive-container .missive-subcontainer img {
  width: 20px;
  height: 20px;
  display: block;
  margin: 0 auto;
}

.container .text-area {
  position: relative;
}

.container textarea {
  width: 100%;
  padding: 15px;
  margin: 30px 0;
  background-color: transparent;
  resize: none;
  outline: none;
  border: none;
  color: var(--text-color);
  font-size: 20px;
}


.card-bottom {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-top: 20px;
  border-top: 2px solid var(--bg-color);
  user-select: none;
}

.card-bottom p {
  margin-bottom: 20px;
}

.card-bottom label {
  height: 50px;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0 20px;
  cursor: pointer;
  border-radius: 32px;
  background-color: var(--bg-color);
}

.card-bottom label:hover {
  color: var(--primary-text-color);
  background-color: var(--primary-color);
}

.card-bottom span {
  font-size: 15px;
  pointer-events: none;
}

.card-bottom .icon {
  width: 20px;
  height: 20px;
}

.card-bottom button {
  height: 50px;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0 20px;
  border-radius: 30px;
  border: none;
  outline: none;
  color: var(--text-color);
  cursor: pointer;
  background-color: var(--bg-color);
}

.card-bottom button:hover {
  color: var(--primary-text-color);
  background-color: var(--primary-color);
}

a {
  position: relative;
  color: inherit;
  text-decoration: none;
}

a::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 0.1em;
  background-color: #356aff;
  transition: all 0.25s ease-in-out;
  transform: translateY(0.05em);
}

a:hover::after {
  transform: translateY(0.15em);
}

.container .center {
  position: relative;
  user-select: none;
}

.swap-position {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  border: 5px solid var(--bg-color);
  transition: all 0.3s;
  color: var(--primary-text-color);
  background-color: var(--primary-color);
}

.swap-position .material-symbols-outlined {
  transition: transform 0.3s ease;
}

.swap-position.rotated .material-symbols-outlined {
  transform: rotate(180deg);
}

.swap-position:hover {
  transform: translateX(-50%) scale(1.15);
}

.icon_documents {
  font-size: 24px !important;
}

/* Media Querries */

@media (max-width: 800px) {
  .container {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    flex-direction: column;
  }

  .container .card {
    width: 100%;
  }

  .container .card .from {
    margin-right: 0px;
  }

  .container .card .to {
    margin-left: 0px;
  }

  .container .card .from,
  .container .card .to {
    flex-direction: column;
  }

  .swap-position {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .swap-position:hover {
    transform: translate(-50%, -50%) scale(1.1);
  }

  .swap-position .material-symbols-outlined {
    transform: rotate(90deg);
  }

  .swap-position.rotated .material-symbols-outlined {
    transform: rotate(270deg);
  }
}